# shellcheck shell=bash
direnv_version 2.30.3
strict_env

# Make any local changes/overrides in here
source_env_if_exists ".envrc-private"

env_vars_required HCP_CLIENT_ID
env_vars_required HCP_CLIENT_SECRET
